<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/general_style.css">
    <title>GWNU</title>
</head>
<body>
    <h1>GWNU에 오신 것을 환영합니다!</h1>

    <h2><a href="/library">GWNU Library</a></h2>

    <img src="/static/images/gwnu.png" alt="강릉원주대학교">
</body>
</html>