<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/library_style.css">
    <title>GWNU Library</title>
</head>
<body>
    <h1>GWNU Library</h1>

    <h2><a href="/library/register-book">책 등록하기</a></h2>
    <h2><a href="/library/show-books">모든 책 보기</a></h2>
</body>
</html>

